body {
    width:500px;
    margin: 0 auto;
    padding:50px;
    background-color : lightblue;
}

.smart-container{
    border-radius:5px;
    background-color:aliceblue;
    padding:20px;
}

.section{
    margin:20px;
}

.section-inlined{
  width: 49%;
  display: inline-block;
  margin-left: 1%;
  float:left;
  padding:20px;
}

.form-footer{
    display:inline-block;
    padding:20px;
}



input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=text]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

